/*
Written By Muneer khan
*/
html, body{
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.5;
    color: #333;
}
*{
  outline: none;
}
.navbar-brand>img {
  display: block;
  min-height: 102px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #0074e4;
}
ul {
    padding-left: 0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #000;
  background: transparent;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.caret {
  border-top: 3px dashed;
  border-top: 3px solid\9;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
header .navbar-default{
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  z-index: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-right.navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover
{
  color: #0074e4;
}
.navbar-default .navbar-right.navbar-nav>li>a
{
  padding-left: 4px;
  padding-right: 4px;
  font-size: 13px;
}
.spacer{
  margin: 15px 4px 0;
  font-size: 14px;
}
.glyphyicon-alignment .glyphicon
{
  top: 4px;
  margin-left: 10px;
  color: rgb(119, 119, 119);
  font-size: 16px;
}
.navbar-brand {
  padding: 0px 15px;
  margin-top: -1px;
}
.fixy-navigation
{
  background: #e2effc;
}
.fixy-navigation .navbar-nav{
  padding-left: 103px;
}
.fixy-navigation .navbar-nav li {
  border-right: 1px solid #fff;
}
.fixy-navigation .navbar-nav li a,
.fixy-navigation .navbar-nav li.dropdown.open a{
  text-transform: uppercase;
  color: #333;
  background: transparent;
  font-size: 13px;
  font-weight: bold;
}
.save-icon .glyphicon{
  margin-right: 3px;
}

.form-control:hover,
.add-on-setting .input-group:hover, 
select:hover, 
textarea:hover {
  border-color: #0074e4;
}
textarea{
  resize: none;
}
.form-control, 
select {
  height: 30px;
  line-height: 1.5em;
  width: 100%;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: inset 0 2px 2px #f4f4f4,0 0 0 #7fb9f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; 
}
.add-on-setting .input-group-addon{
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #999;
  border: none; 
  padding: 7px;
}
.add-on-setting .input-group
{
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 2px #f4f4f4;
}
.add-on-setting .form-control
{
  border: none;

  box-shadow: none;
}
.custom-search .form-control
{
  z-index: 0;
  height: 34px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;

  border-right: 0;
}
.custom-search.right-border .form-control{
  border-right: 1px solid #ccc;
}
.custom-search .input-group:hover .form-control,
.custom-search .input-group:hover .input-group-addon{
  border-color: #66afe9;
}
.main-search-form{
  background: #157ae4;
  padding: 10px 0;
}
.main-search-form select,
.main-search-form .form-control {
  font-weight: 600;
  color: #333;
}
.main-search-form ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #333;
}

.main-search-form :-moz-placeholder { /* Firefox 18- */
  color: #333;
}

.main-search-form ::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}

.main-search-form :-ms-input-placeholder { /* IE 10+ */
  color: #333;
}

.main-search-form ::-ms-input-placeholder { /* Edge */
  color: #333;
}

.main-search-form :placeholder-shown { /* Standard one last! */
  color: #333;
}

.main-search-form .form-inline .form-control{
  width: 100%;
}
.gutter-space-reduce .col-sm-4,
.gutter-space-reduce .col-sm-2,
.gutter-space-reduce .col-sm-1{
  padding: 0 5px;
}
.custom-search select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABUCAYAAACLOrcbAAAAyElEQVRYw+3YwQ3DIAyF4d8TZBiSzNSyQI/JMRuUoZgJ95KoUQoJqLfWPuMPgSz0hDDpgvAgX0En7pyUABSQwIxXRa+BTyQw40FU9bR/B7yRbmsGaAMyZYABBvwPcLXgqqRml6oj5BARabuD/WIRsTkwwAAD2oAY4wLlnOicu86JBSSkhB8GV5cTD0hICT+OfVtOXJFua7Y5MMAAAywnNubEr+/AAAMM+BkgwhO4FXOiakVOzCOhR+v/Ew9I6NH2/8QVYWuueRNfuFY7aInJEKAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  line-height: 20px;
  padding: 0 23px 0 6px;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #f4f4f4 inset, 0 0 0 #7fb9f1;
  width: 100%;
  background-position: right -28px;
  height: 34px;

  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb;
}
select:hover {
  background-position: right 12px;
}
.custom-search .input-group-addon{
  background: #fff;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}
.fixy-navigation .custom-search li{
  border-right: 0;
}
.custom-search .input-group-addon .glyphicon
{
 color: #0074e4;
 font-size: 15px;
}
.custom-dropdowns .dropdown-menu li
{
  padding: 9px 20px;
  border-right: 1px solid #ccc;
}
.custom-dropdowns .dropdown-menu li a
{
  color: #0074e4;
  padding: 9px 10px 9px 0;
  font-size: 13px;
  display: block;
  text-align: left;
}
.affix .fixy-navigation .navbar-nav li.contact-agent a
{
  color: #fff;
  background: #0074e4;
}
.affix .fixy-navigation .navbar-nav,
.pad-left-remove{
  padding-left: 0px;
}
/* full page dropdowns */
/* CSS used here will be applied after bootstrap.css */.nav { margin-bottom: 0; }
.custom-dropdowns .nav > li.dropdown.open { position: static; }
.custom-dropdowns .nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.custom-dropdowns .dropdown-menu>li { display: table-cell; }
.dropdown-menu ul{
  padding-left: 125px;
  display: table;
  width: 100%;
}
.dropdown-menu ul li{
  display: table-cell;
  list-style: none;
}
.dropdown-menu h5{
  font-weight: bold;
  text-align: left;
}
/* carousel */
.carousel-inner{
  height: auto;
  padding-bottom: 50px;
}
.carousel-inner img{ width: 100%; }


/* bootstrap 3 fixing the navigation bar on scroll */
.navbar-form input, .form-inline input {
  width:auto;
}
header {
  height:51px;
}
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}
#sidebar.affix-top {
  position: static;
}
#sidebar.affix {
  position: fixed;
  top: 80px;
}
.details h1{
  font-weight: 100;
  margin: 10px 0;
}
.details p{
  margin-top: 10px;
  margin-bottom: 30px;
}

.facts ul{
  padding-left: 40px;
}

.facts li a{
  color: #0074e4;
}
.facts li{
  line-height: 2;
  font-size: 15px;
  color: #333;
  list-style: square;
}
.facts h3,
.details h3{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.dot-red
{
  display: inline-block;
  background: #c00;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.price,
.details-prices h3{
  margin: 5px 0;
}
.details{
  padding-top: 50px;
}

.ng-invalid.ng-dirty{
  border-color: red;
}

.ng-valid.ng-dirty{
  border-color: green
}

.menu-ul li {
  padding-left: 5px;
  padding-right: 5px;
}




.info-window{
  position: absolute;
  left: 555px;
  bottom: 241px;
  z-index: 1010;
  top: 150px;
}
.info-window-inner{
  background-color: #fff;
  box-shadow: 0 0 9px rgba(68,68,68,0.6);
}
.info-window-inner {
  color: #333;
  display: inline-block;
  line-height: 1.3em;
  padding: 7px 7px 5px;
  position: relative;
}

.info-window-inner .info-window-body {
  display: table;
}

.zsg-media:before{
  content: " ";
  display: table;
}

.info-window-header{
  margin-right: 10px;
  max-width: 150px; 
}

.info-window-header img{
  height: 46px;
  display: block;
  width: 46px;
}
.info-window-body .info-window-footer {
  width: auto;
}

.info-window-footer {
  display: table-cell;
  vertical-align: top;
}
.info-window-inner strong {
  line-height: 1;
} 

.info-window-caret {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  position: absolute;
  top: 100%;
}
.main-detail-wrapper{
  padding-bottom: 30px;
}
.padding-top-thirty
{
  padding-top: 30px;
}
hr.hr
{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
}
.owner h1{
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.owner h3{
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: rgb(51, 51, 51);
}
.h2
{

  font-size: 28px;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}
.top-botom-spacing{
  margin: 10px 0;
}
.h4{
  color: #666;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 700; 
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 100%;
    border: none;
    background: #0074e4;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: .4em .67em .4em 0;
}
.color-999
{
  color: #999;
}
.uploaded-image li{
  margin-right: 14px;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
}

.uploaded-image li img
{
      height: 110px;
    min-width: 70px;
    max-width: 400px;
}
label{
  font-weight: 400;
}















.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #333;
    box-shadow: none;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border .15s ease-in-out,color .15s ease-in-out;
    transition: border .15s ease-in-out,color .15s ease-in-out;

    -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    box-shadow: none;
    font-size: 11px;
    color: #333;
}

.checkbox input[type="checkbox"],.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;

}

.checkbox input[type="checkbox"]:focus + label::before,.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,.checkbox input[type="radio"]:checked + label::after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.checkbox input[type="checkbox"]:disabled + label,.checkbox input[type="radio"]:disabled + label {
    opacity: .65;
}

.checkbox input[type="checkbox"]:disabled + label::before,.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}




.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

