<div  ng-controller="propertyController as vm" ng-init="listProperties()">

    <!-- map to get location -->
    <div >
      <ng-map style="height: 600px;" center="48.8221891, 2.3307503" zoom="4" id="map">
        <marker id='m-{{record._id}}' ng-repeat="record in vm.properties"
          position="{{record.address.lat}},{{record.address.lng}}"
          title="{{p.toString()}}"
          on-click="vm.showDetails(record)">
        </marker>
        <info-window id="iwb" >
          <div ng-non-bindable>
            <div class="info-window-body">
              <div class="info-window-header">
                <img height="46" ng-if="vm.info.photos[0]" width="46" src="{{vm.API_URL}}/r/{{vm.info.photos[0]}}">
                <img height="46" ng-if="!vm.info.photos[0]" width="46" src="http://photos3.zillowstatic.com/p_a/IS99pyt3qmrfw00000000000.jpg">
              </div>
              <div class="info-window-footer">
                <div>
                  <strong>€{{vm.info.estimates.price | currency: ''}}/mo</strong>
                  <div class=""><span translate>{{vm.info.type}}</span>, {{vm.info.general.bedrooms}} ch</div>
                  <div class="">{{vm.info.lot.size}} m2</div>
                </div>
              </div>
            </div>
          </div>
        </info-window>
      </ng-map>
      <!-- <div class="info-window">
        <div class="info-window-inner">
          <div class="info-window-body">
            <div class="info-window-header">
              <img height="46" width="46" src="http://photos3.zillowstatic.com/p_a/IS99pyt3qmrfw00000000000.jpg">
            </div>
            <div class="info-window-footer">
              <div>
                <strong>$1,513+/mo</strong>
                <div class="">Studio+, 1+ ba</div>
                <div class="">581+ sqft</div>
              </div>
            </div>
          </div>
          <div class="info-window-caretz" style="left: 65px;"></div>
        </div>
      </div> -->
  </div><!-- create-->

</div>
