	<div class="container" ng-controller="propertyController as propertyCtrl">

		<div><!-- create-->

			<!-- map to get location -->
<!-- 			<div >
				Click on Map to change you location
				<ng-map center="37.7699298, -122.4469157" zoom="4" on-click="propertyCtrl.addMarker()">
					<marker ng-repeat="position in propertyCtrl.positions"
						position="{{position.lat}}, {{position.lng}}">
					</marker>
				</ng-map>
			</div> -->


			<br />
			<br /> <!-- userForm.$valid &&  -->
			<form name="userForm" ng-submit="propertyCtrl.addProperty(propertyCtrl.property)" novalidate>
				{{propertyCtrl.message}}
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label >Email</label>
							<input type="email" ng-model="propertyCtrl.property.createdBy.email" class="form-control"
								placeholder="Email" required/>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label >Password</label>
							<input type="password" ng-model="propertyCtrl.property.createdBy.password" class="form-control"
							placeholder="Password" required/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<input ng-model="propertyCtrl.property.address.street1" class="form-control"
						placeholder="Street"/>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label >City</label>
							<input ng-model="propertyCtrl.property.address.city" class="form-control"
							placeholder="City" required/>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label >Postal Code</label>
							<input ng-model="propertyCtrl.property.address.zipCode" class="form-control"
							placeholder="Zip Code" required/>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label >Country</label>
							<select ng-model="propertyCtrl.property.address.country" class="form-control">
								<option value="FR">France</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<textarea ng-model="propertyCtrl.property.description" class="form-control"
					placeholder="Description" rows="6"></textarea>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label >Measures</label>
							<input ng-model="propertyCtrl.property.lot.size" class="form-control"
							placeholder="i.e 60"/>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label >Estimated Price</label>
							<input ng-model="propertyCtrl.property.estimates.price" class="form-control"
							placeholder="ie. 500000"/>
						</div>
						<!-- <div class="form-group">
							<label >Size Type</label>
							<select ng-model="propertyCtrl.property.lot.type" class="form-control">
								<option value="SQM">Square Meter</option>
								<option value="SQYD">Square Yard</option>
								<option value="SQFT">Square Feet</option>
							</select>
						</div> -->
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label >Property Type</label>
							<select ng-model="propertyCtrl.property.type" class="form-control">
								<option value="LOFT">LOFT</option>
								<option value="BUILDING">BUILDING</option>
								<option value="APARTMENT">APARTMENT</option>
								<option value="HOUSE">HOUSE</option>
								<option value="COMMERCIAL">COMMERCIAL SPACE</option>
								<option value="CASTLE">CASTLE</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
							<div class="form-group">
									<label for="exampleInputEmail1">Bedrooms</label>
									<input type="number" ng-model="propertyCtrl.property.general.bedrooms" class="form-control"
									placeholder="Bedrooms"/>
							</div>
					</div>
					<div class="col-sm-4">
							<div class="form-group">
									<label for="exampleInputEmail1">Rooms</label>
									<input type="number" ng-model="propertyCtrl.property.general.rooms" class="form-control"
									placeholder="Rooms"/>
								</div>
					</div>
					<div class="col-sm-4">
							<div class="form-group">
									<label>Bathrooms</label>
									<input type="number" ng-model="propertyCtrl.property.general.bathrooms" class="form-control" placeholder="Bathrooms"/>
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h3>Equipments</h3>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.equipments.fireplace" type="checkbox" />
								<label>Firepalce</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.equipments.swimming_pool" type="checkbox" />
								<label>Swimming Pool</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<h3>Additional Areas</h3>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.additional_areas.garden_courtyard" type="checkbox" />
								<label>Garden and/or Courtyard</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.additional_areas.terrace" type="checkbox" />
								<label>Balcony / Terrace</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.additional_areas.garage" type="checkbox" />
								<label>Garage</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.additional_areas.cellar" type="checkbox" />
								<label>Cellar</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input ng-model="propertyCtrl.property.additional_areas.dependency" type="checkbox" />
								<label>Dependency</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-12">
						<div class="form-group">
							<label>Video (i.e XGSy3_Czz8k) : Should be a Youtube video link.</label><br />
							<input class="form-control" type="text" ng-model="propertyCtrl.property.video" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="upload-photos">Upload Pictures</label>
					<input type="file" id="upload-photos" multiple>
				</div>


				<div style="display: none;" class="row">
					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

					<div class="col-xs-6 col-md-2">
						<a href="#" class="thumbnail">
							<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUxZjRiODNmN2UgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTFmNGI4M2Y3ZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
						</a>
					</div>

				</div>

				<div class="form-group">
					<input type="hidden" ng-model="propertyCtrl.property.address.coordinates"/>
				</fieldset>

				<fieldset class="form-group">
					<!-- <input type="submit" class="btn btn-default pull-right" value="Cancel" /> -->
					<input id="submit-create-property" type="submit" class="btn btn-primary pull-right" style="margin-right: 10px;" value="Save" />
						<!-- ng-disabled="!userForm.$valid" -->
				</fieldset>


			</form>


		</div><!-- create-->

	</div>
