<div class="main-detail-wrapper padding-top-thirty" ng-controller="propertyController as vm">
		<div class="container">
				<div class="owner">
						<h1>For Sale By Owner Listing</h1>
						<h3>1 Microsoft Way # 4642, Redmond, WA 98052</h3>
				</div><!-- /. owner ends here-->
				<hr class="hr" />
				<form name="userForm" ng-submit="vm.addProperty(vm.property)" novalidate>
				<div class="set-price">
						<h2 class="h2">Set your price</h2>
						<div class="row">
								<div class="col-sm-6">
										<div class="col-sm-7 pad-left-remove add-on-setting">
												<div class="input-group">
														<div class="input-group-addon">€</div>
														<input type="number" ng-model="vm.property.estimates.price" class="form-control" placeholder="">
												</div> <!-- /.input group ends here -->
										</div><!-- /. add-on-setting ends here -->
								</div><!--  /.col-sm-6 ends here -->

								<div class="col-sm-6">
										<p class="top-botom-spacing">
												<a onclick="$('#address-toggle').slideToggle();">Edit location on the map</a>
										</p>
								</div><!--  /.col-sm-6 ends here -->
						</div><!--  /.row with heading map ends here -->
						<div class="row" id="address-toggle" style="display: none;">
							<div class="col-lg-12">
								<div class="form-group">
										<label>Street</label>
										<input ng-model="vm.property.address.street1" class="form-control"
											placeholder="Street"/>
								</div>
							</div>
							<div class="col-lg-6">
									<div class="form-group">
										<label >Postal Code</label>
										<input  ng-model="vm.property.address.zipCode" class="form-control"
										placeholder="Zip Code" required/>
									</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label >City</label>
									<input  ng-model="vm.property.address.city" class="form-control"
									placeholder="City" required/>
								</div>
							</div>
						</div>
				</div><!-- /.set-price ends here -->

				<hr class="hr" />

				<h2 class="h2">Photos &amp; media</h2>
				<h4 class="h4 text-uppercase">Upload a photo</h4>
				<p>
						<strong>Listings with 9+ photos </strong>get more contacts, keep uploading. Tap or click the photo to set its caption or select main photo. Rearrange photos by dragging them.
				</p>
				<div class="row">
						<div class="col-sm-4 pad-left-remove">
								<div class="fileUpload btn btn-primary">
										<span>Upload</span>
										<input id="upload-photos" type="file" multiple class="upload" />
								</div><!-- /. fileupload ends here -->
						</div><!-- /. col-sm-4 ends here -->
				</div><!-- /. row ends here -->



				<hr class="hr" />

				<h2 class="h2">Home facts</h2>

				<div class="row">
						<div class="col-sm-6">


								<div class="form-group">
										<label for="exampleInputEmail1">Home type</label>
										<select ng-model="vm.property.type" class="form-control">
											<option translate value="LOFT">LOFT</option>
											<option translate value="BUILDING">BUILDING</option>
											<option translate value="APARTMENT">APARTMENT</option>
											<option translate value="HOUSE">HOUSE</option>
											<option translate value="COMMERCIAL">COMMERCIAL SPACE</option>
											<option translate value="CASTLE">CASTLE</option>
										</select>
								</div>


								<div class="form-group">
										<label for="exampleInputEmail1">Beds</label>
										<input type="number" ng-model="vm.property.general.bedrooms" class="form-control"
										placeholder="Bedrooms"/>

								</div>

								<div class="row">
										<div class="col-sm-12">

											<div class="form-group">
													<label>Bathrooms</label>
													<input type="number" ng-model="vm.property.general.bathrooms" class="form-control" placeholder="Bathrooms"/>
											</div>
										</div>
								</div>

								<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
													<label for="exampleInputEmail1">Rooms</label>
													<input type="number" ng-model="vm.property.general.rooms" class="form-control"
													placeholder="Rooms"/>
												</div>

										</div>
								</div>




								<!-- <div class="form-group">
										<label for="exampleInputEmail1">Finished square feet</label>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>

								<div class="row">
										<div class="col-sm-6">

												<div class="form-group">
														<label for="exampleInputEmail1">Lot size</label>
														<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
												</div>

										</div>
										<div class="col-sm-6">
												<div class="form-group">
														<label for="exampleInputEmail1">&nbsp;</label>
														<select name="zmm-calc-input-credit" id="zmm-calc-input-credit">
																<option>some 1</option>
																<option>some 1</option>
																<option>some 1</option>
																<option>some 1</option>
																<option>some 1</option>
														</select>
												</div>

										</div>
								</div>



								<div class="form-group">
										<label for="exampleInputEmail1">Year built</label>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>


								<div class="form-group">
										<label for="exampleInputEmail1">Structural remodel year</label>
										<a href="" class="color-999">
												<span class="glyphicon glyphicon-question-sign"></span>
										</a>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div> -->





						</div><!-- /. left part of the form ends here -->
						<div class="col-sm-6 ">

								<div class="row">
										<div class="col-sm-6">

												<div class="form-group">
														<label>Measure (m2)</label>
														<input ng-model="vm.property.lot.size">
												</div>

										</div>
										<div class="col-sm-6">


												<div class="form-group">
													<label>Youtube Video</label><br />
													<input class="form-control" placeholder="Video (i.e XGSy3_Czz8k) : Should be a Youtube video link." type="text" ng-model="vm.property.video" />
												</div>
										</div>
								</div>

								<div class="form-group">
										<label>Describe your home</label>
										<textarea ng-model="vm.property.description" class="form-control" rows="4"></textarea>
								</div>

						</div><!-- /. right part of the form ends here -->
				</div> <!-- /. row that contains both right and left part ends here  -->

				<hr class="hr" />

				<div class="row">
						<div class="col-sm-6">
								<h5><b>ROOM DETAILS</b></h5>
								<h6 class="color-999"><b>EQUIPMENTS</b></h6>
								<div class="row">
										<div class="col-sm-6">
												<div class="checkbox">
														<input ng-model="vm.property.equipments.fireplace" type="checkbox" />
														<label>Firepalce</label>
												</div>


												<div class="checkbox">
													<input ng-model="vm.property.equipments.swimming_pool" type="checkbox" />
													<label>Swimming Pool</label>
												</div>

										</div>
								</div><!-- /. row ends here  -->

								<h6 class="color-999"><b>ADDITIONAL AREAS</b></h6>
								<div class="row">
										<div class="col-sm-6">

												<div class="checkbox">
														<input ng-model="vm.property.additional_areas.garden_courtyard" type="checkbox" />
														<label>Garden and/or Courtyard</label>
												</div>

												<div class="checkbox">
														<input ng-model="vm.property.additional_areas.terrace" type="checkbox" />
														<label>Balcony / Terrace</label>
												</div>

												<div class="checkbox">
														<input ng-model="vm.property.additional_areas.garage" type="checkbox" />
														<label>Garage</label>
												</div>


												<div class="checkbox">
														<input ng-model="vm.property.additional_areas.cellar" type="checkbox" />
														<label>Cellar</label>
												</div>


												<div class="checkbox">
														<input ng-model="vm.property.additional_areas.dependency" type="checkbox" />
														<label>Dependency</label>
												</div>

										</div>

								</div><!-- /. row ends here  -->


						</div>
						<div class="col-sm-6">

						</div>
				</div>


				<hr class="hr" />


				<h2 class="h2">Contact information</h2>
				<p>Please provide your credentials to manage the property later.</p>
				<div class="row">
						<div class="col-sm-5">
								<div class="form-group">
										<label >Email</label>
										<input type="email" ng-model="vm.property.createdBy.email" class="form-control"
											placeholder="Email" required/>
								</div>

								<div class="form-group">
										<label >Password</label>
										<input type="password" ng-model="vm.property.createdBy.password" class="form-control"
										placeholder="Password" required/>
								</div>

								<div class="form-group">
										<label >Password</label>
										<input type="text" ng-model="vm.property.createdBy.phoneNumber" class="form-control"
										placeholder="ex: phone number" required/>
								</div>

						</div>
				</div>

				<hr class="hr" />

				<div class="checkbox">
						<input id="checkbox1" class="styled" type="checkbox">
								<label for="checkbox1">
								I agree to the following: (i) I am (or I have authority to act on behalf of) the owner of this home; (ii) I will not provide incorrect information or state a
								<a href="#" target="_blank" >discriminatory preference</a>
								; and (iii) I will comply with the
								<a href="#" target="_blank" >Zillow Terms of Use</a>
						</label>
				</div>

				<input id="submit-create-property" type="submit" class="btn btn-primary pull-right" style="margin-right: 10px;" value="Post for sale by owner" />
			</form>
		</div><!-- /. container // -->
</div><!-- /. main detail wrapper // -->
