<div class="container_as_parent" data-ng-init="findOne()">

  <!-- Page Content -->
  <div>
    <div class="multiple-items" id="links" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
      <div class="first-image">
        <a href="images/img1.jpg" title="every item has its own title" data-gallery>
            <img src="images/img1.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img2.jpg" title="every item has its own title" data-gallery>
            <img src="images/img2.jpg" alt="every item has its own title">
        </a>
        <a href="images/img2.jpg" title="every item has its own title" data-gallery>
            <img src="images/img3.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img3.jpg" title="every item has its own title" data-gallery>
            <img src="images/img3.jpg" alt="every item has its own title">
        </a>
        <a href="images/img4.jpg" title="every item has its own title" data-gallery>
            <img src="images/img4.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img4.jpg" title="every item has its own title" data-gallery>
            <img src="images/img4.jpg" alt="every item has its own title">
        </a>
        <a href="images/img5.jpg" title="every item has its own title" data-gallery>
            <img src="images/img5.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img5.jpg" title="every item has its own title" data-gallery>
            <img src="images/img5.jpg" alt="every item has its own title">
        </a>
        <a href="images/img6.jpg" title="every item has its own title" data-gallery>
            <img src="images/img6.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img6.jpg" title="every item has its own title" data-gallery>
            <img src="images/img6.jpg" alt="every item has its own title">
        </a>
        <a href="images/img2.jpg" title="every item has its own title" data-gallery>
            <img src="images/img2.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img7.jpg" title="every item has its own title" data-gallery>
            <img src="images/img7.jpg" alt="every item has its own title">
        </a>
        <a href="images/img8.jpg" title="every item has its own title" data-gallery>
            <img src="images/img8.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img8.jpg" title="every item has its own title" data-gallery>
            <img src="images/img8.jpg" alt="every item has its own title">
        </a>
        <a href="images/img9.jpg" title="every item has its own title" data-gallery>
            <img src="images/img9.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img9.jpg" title="every item has its own title" data-gallery>
            <img src="images/img9.jpg" alt="every item has its own title">
        </a>
        <a href="images/img1.jpg" title="every item has its own title" data-gallery>
            <img src="images/img1.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img2.jpg" title="every item has its own title" data-gallery>
            <img src="images/img2.jpg" alt="every item has its own title">
        </a>
        <a href="images/img3.jpg" title="every item has its own title" data-gallery>
            <img src="images/img3.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img1.jpg" title="every item has its own title" data-gallery>
            <img src="images/img1.jpg" alt="every item has its own title">
        </a>
        <a href="images/img2.jpg" title="every item has its own title" data-gallery>
            <img src="images/img2.jpg" alt="every item has its own title">
        </a>
      </div>
      <div>
        <a href="images/img3.jpg" title="every item has its own title" data-gallery>
            <img src="images/img3.jpg" alt="every item has its own title">
        </a>
        <a href="images/img4.jpg" title="every item has its own title" data-gallery>
            <img src="images/img4.jpg" alt="every item has its own title">
        </a>
      </div>
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <!--

        <h3 class="title"></h3>

        <a class="btn">Save home</a>
        <a class="btn">Save image</a>
        <a class="close">Close ×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol> -->
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade custom-lightbox">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-buttons">
                        <span class="pull-right">
                            <button class="btn">Save home</button>
                            <button class="btn">Save image</button>
                            <button type="button" class="close btn" aria-hidden="true">
                                <span class="glyphicon glyphicon-remove"></span>
                                Close</button>
                        </span>
                        <h4 class="modal-title text-left"></h4>
                    </div>
                    <div class="modal-body next"></div>

                </div>
            </div>
                <a class="slick-arrow slick-prev prev"></a>
                <a class="slick-arrow slick-next next"></a>
        </div>
    </div>

  </div>
  <div class="container" >

      <div class="details">
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="#">Details</a></li>
              <li role="presentation"><a href="/#/property/{{property._id}}/photos">Photos</a></li>
              <li role="presentation"><a href="/#/property/{{property._id}}/video">Video</a></li>
            </ul>
          </div>
        </div>
      <div class="row">
          <div class="col-sm-8">
             <h1>{{property.address.street1}}, {{property.address.zipCode}}, {{property.address.city}}</h1>
             <h3> CHAMBRES: {{property.general.bedrooms}}</h3>
             <h3> SALLES DE BAIN:  {{property.general.bathrooms}} </h3>
             <h3> TYPE:  <span translate>{{property.type}}</span> </h3>
             <h3> SURFACE:  {{property.lot.size}} {{property.lot.type}}</h3>
             <p>{{property.description}}</p>
         </div>
         <div class="col-sm-4 details-prices">
             <h3 >  <span class="dot-red"></span>A VENDRE</h3>
             <h2 class="price"><b>{{property.estimates.price | currency: ''}} €</b></h2>
             <h3>PRIX DE VENTE</h3>
         </div>
      </div>
      </div><!--  //details ends here  -->

      <div class="facts">
        <div class="row">
          <div class="col-sm-3">
            <h3>EQUIPEMENTS</h3>
              <ul>
                  <li ng-if="property.equipments.fireplace">Cheminée</li>
                  <li ng-if="property.equipments.swimming_pool">Piscine</li>
              </ul>
          </div>
          <div class="col-sm-3">
            <h3 >SURFACES ANNEXES</h3>
              <ul>
                  <li ng-if="property.additional_areas.garden_courtyard">Jardin, cour</li>
                  <li ng-if="property.additional_areas.terrace">Balcon, terrasse</li>
                  <li ng-if="property.additional_areas.garage">Garage</li>
                  <li ng-if="property.additional_areas.cellar">Cave, grenier</li>
                  <li ng-if="property.additional_areas.dependency">Dépendance</li>
              </ul>
          </div>
        </div>
      </div> <!--  ////// facts ends here  -->

    </div><!-- /.container -->

</div>
