<!DOCTYPE html>
<html ng-app="zillow" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->    
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    </head>

    <body>
        <header><!-- top level navigation starts here -->
            <!-- Navigation -->
            <nav class="navbar navbar-default custom-dropdowns">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header"> 
                    <!-- responsive menu button -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="images/logo.jpg">
                        </a>
                    </div><!-- end of the container -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Left hand side navigation -->
                    <ul class="nav navbar-nav custom-dropdowns">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5> dropdown menu 1 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rent <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 2 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 3 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>




                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mortgages <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 4 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>




                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent finder <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 5 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>





                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advice <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 6 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>




                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home design <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>  dropdown menu 7 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <ul>
                                        <li>
                                            <h5>dropdown menu 8 </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>
                                         <li>
                                            <h5>  Seattle homes for sale </h5>
                                            <a href="#">Homes for sale</a>
                                            <a href="#">Foreclosures</a>
                                            <a href="#">For sale by owner</a>
                                            <a href="#">Open houses-</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>  
                    <!-- Left hand side navigation ends here -->

                    <!-- right hand side navigation -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li class="spacer">or</li>
                        <li><a href="#">Join</a></li>
                        <li class="glyphyicon-alignment"><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    </ul>
                    <!-- right hand side navigation ends here -->
                </div><!-- /.navbar-collapse -->
            </nav><!-- main nav -->
        </header><!-- top level navigation ends  here -->



        <!-- Second level navigation starts here -->
        <div id="nav">
            <div class="navbar navbar-default navbar-static fixy-navigation">
                <div class="container"><!-- container ends here-->
                  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <!-- responsive menu icon -->
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-bar"></span>
                        <span class="glyphicon glyphicon-bar"></span>
                        <span class="glyphicon glyphicon-bar"></span>
                    </a>
                    <!-- responsive menu icon ends here -->
                    <!-- menu starts -->
                    <div class="navbar-collapse collapse">
                        <!-- left hand navigation -->
                        <ul class="nav navbar-nav">
                            <li class="contact-agent"><a href="#">Contact  agent</a></li>
                            <li class="save-icon"><a href="#"> <span class="glyphicon glyphicon-heart-empty"></span>Save</a></li>
                            <li><a href="#">Get updates</a></li>
                            <li><a href="#">Share </a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">123</a></li>
                                    <li><a href="#">asdasdasd action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- left hand navigation ends -->

                        <!-- right hand navigation -->
                        <ul class="nav pull-right navbar-nav custom-search">
                            <li>
                                <form class="navbar-form">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="This one is out of the Bootstrap examples...">
                                        <span class="input-group-addon">
                                            <a href="">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </a>
                                        </span>
                                    </div>
                                </form>
                            </li>
                        </ul><!-- right hand navigation ends -->
                    </div><!-- menu ends -->        
                </div><!-- container starts here-->
            </div><!-- /.navbar -->
        </div><!-- Second level navigation starts here -->

        <!-- Page Content -->
        <section ng-controller="TabController as tab">
        <div class="container">
            <div id="map"></div>
            <div id="menu">
                <!-- <h1>Header 1</h1> HTML ELEMENTS can be placed inside if required-->


                <ul class="nav nav-pills">
                    <li ng-class="{ active:tab.isSet(1) }">
                        <a href="" ng-click="tab.setTab(1)">Add New User</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(2) }" >
                        <a href="" ng-click="tab.setTab(2)">View User By Id</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(3) }">
                        <a href="" ng-click="tab.setTab(3)">Update New User</a>
                    </li>
                </ul>


            </div>
        </div><!-- /.container -->
<br /> 
<br /> 


<!-- content container -->
<div class="container" ng-controller="UserController as UserCtrl" >

            <!--  Create User Form -->
            <div ng-show="tab.isSet(1)">
                {{UserCtrl.message}}
                <form name="userForm" ng-submit="userForm.$valid && UserCtrl.addUser(UserCtrl.user)" novalidate>
                    <h1>Create User</h1>
                    <user-create ></user-create>
                </form>
            </div>

            <!-- User Details -->
            <div ng-show="tab.isSet(2)">
                <user-get></user-get>   
            </div>

            <!--  Update User Form -->
            <div ng-show="tab.isSet(3)">
                {{UserCtrl.message}}
                <form name="userForm" ng-submit="userForm.$valid && UserCtrl.updateUser(UserCtrl.user)" novalidate>
                    <h1>Update User</h1>
                    <user-create ></user-create>
                </form>
            </div>

    </div><!--content container-->
</section>



<!-- jQuery Version 1.11.1 -->
<script src="js/lib/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/lib/bootstrap.min.js"></script>


</body>

</html>